body, html {
    padding: 0;
    margin: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    min-width: 100%;
}



body {
    font-size: 14px;
    background: url('https://free4kwallpapers.com/uploads/originals/2015/10/27/beautiful-clouds-from-the-top-view-wallpaper.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}


* {
    box-sizing: border-box;
    font-family: 'Inria Sans', sans-serif;
    }


.Menu a {
    color: inherit;
    text-decoration: none;
}

.Menu a:hover {
    text-decoration: underline;
}

.Menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 123px;
    background-color: #FFBF60;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    color: white;
    
}
.divider {
    display: flex;
    width:100%;
    height: 20px;
}



.f-col-start-center {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.w-100 {
    width: 100%;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 0px 0px 300px;
    gap: 10px;
    height: fit-content;
    width: 100%;
}


.title {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    font-size: 96px;
    width: 100%;
    color: #000000;
    margin: 0;
}

.pre-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    font-size: 64px;
    margin: 0;
    width: 100%;
    color: #000000;

}

#orange-rect {
    width: 848px;
    height: 68px;
    background: #FFEF5F;
}

.top-design {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: 100%;
    padding: 20px 0;

}

.bottom-decoration {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    width: 100%;

}

#green-rect{
    width: 240px;
    height: 30px;

    background: #0E0E0E;

}

.pa-b-100 {
    padding-bottom: 100px;
}
.info_box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    
    width: 100%;
    height: 340px;
    
    background: #D9D9D9;
}
#simPlats{
    width:95%;
    height:300px;
    border: 2px solid black;
}
#hallon{
    width:95%;
    height:300px;
    border: 2px solid black;
}
#terra{
    width:95%;
    height:300px;
    border: 2px solid black;
}
#klassRum{
    width:95%;
    height:300px;
    border: 2px solid black;
}
#Lars{
    width:95%;
    height:300px;
    border: 2px solid black;
}
.n_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 50px;
    
    width: 100%;
    height: 2000px;
    background: rgba(0, 0, 0, 0.3);
}
.graphmenu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    
    width: 95%;
    height: 60px;
    
    background-color: #f49a11;
}
.graphmenu a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 40px;

    background: #D9D9D9;
    font-weight: 500;
    font-size: 24px;

    font-family: 'Inter';
    font-style: normal;

    text-decoration: none;

    color: black;
}

.graphmenu a:hover {
    width: 180px;
    height: 43px;

    background: #9c9797;
    font-weight: 600;
    font-size: 26px;

    font-family: 'Inter';
    font-style: normal;

    text-decoration: none;

    color: rgb(55, 55, 55);
}