/*Anger storlek för hemsidan*/

body, html {
    padding: 0;
    margin: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    min-width: 100%;
}



body {  /*Anger bakgrunden för hemsidan och en konstant position*/
    font-size: 14px;
    background: url('https://free4kwallpapers.com/uploads/originals/2015/10/27/beautiful-clouds-from-the-top-view-wallpaper.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}


* {  /* Ändrar alla boxar till att passa skärmen, anger även fonten*/
    box-sizing: border-box;
    font-family: 'Inria Sans', sans-serif;
    }


.Menu a {
    color: inherit;
    text-decoration: none;
}

.Menu a:hover {   /*Lägger till en understrykning då muspekaren rör vid texten*/
    text-decoration: underline;
}

.Menu { /*Flexbox för menyn*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 123px;
    background-color: #FFBF60;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    color: white;
    
}
.divider {  /*Används för mellanrum, tydligare i html*/
    display: flex;
    width:100%;
    height: 20px;
}



.f-col-start-center {   /*Innehåller titel design, boxar samt text*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.w-100 {
    width: 100%;
}

/*Sätter stil för olika texter*/

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 0px 0px 300px;
    gap: 10px;
    height: fit-content;
    width: 100%;
}


.title {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    font-size: 96px;
    width: 100%;
    color: #000000;
    margin: 0;
}

.pre-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    font-size: 64px;
    margin: 0;
    width: 100%;
    color: #000000;

}

/*selector för design element*/

#orange-rect {
    width: 848px;
    height: 68px;
    background: #FFEF5F;
}

.top-design {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: 100%;
    padding: 20px 0;

}

.bottom-decoration {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    width: 100%;

}

#green-rect{
    width: 240px;
    height: 30px;

    background: #0E0E0E;

}

.pa-b-100 {
    padding-bottom: 100px;
}

/*Selektor för info texten eller onödig text*/

.rutatext {
background-color:#D9D9D9;
display: flex;
padding-right:60px;
padding-left: 40px;
border: 2px solid black;
font-size:120%;
}
