body, html {
    padding: 0;
    margin: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    min-width: 100%;
}



body {
    font-size: 14px;
    background: url('https://free4kwallpapers.com/uploads/originals/2015/10/27/beautiful-clouds-from-the-top-view-wallpaper.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}


* {
    box-sizing: border-box;
    font-family: 'Inria Sans', sans-serif;
    }


.Menu a {
    color: inherit;
    text-decoration: none;
}

.Menu a:hover {
    text-decoration: underline;
}

.Menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 123px;
    background-color: #FFBF60;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    color: white;
    
}
.divider {
    display: flex;
    width:100%;
    height: 20px;
}



.f-col-start-center {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.w-100 {
    width: 100%;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 0px 0px 300px;
    gap: 10px;
    height: fit-content;
    width: 100%;
}


.title {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    font-size: 96px;
    width: 100%;
    color: #000000;
    margin: 0;
}

.pre-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    font-size: 64px;
    margin: 0;
    width: 100%;
    color: #000000;

}

#orange-rect {
    width: 848px;
    height: 68px;
    background: #FFEF5F;
}

.top-design {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: 100%;
    padding: 20px 0;

}

.bottom-decoration {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    width: 100%;

}

#green-rect{
    width: 240px;
    height: 30px;

    background: #0E0E0E;

}

.pa-b-100 {
    padding-bottom: 100px;
}
.info_box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    
    width: 100%;
    height: 200px;
    
    background: #D9D9D9;
}
.picture {
    width: 250px;
    height: 320px;
    border-radius: 50%;
    display: inline-block;
    
}
.normal{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 29px;
    text-align: left;

    color: #000000;
}
.the_team {
    display: flex;
    flex-direction: column;
    padding: 50px;
    
    width: 100%;
    height: 2000px;
    
    background: white;
}
.sub_box_right{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 350px;
}
.text_black_right{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    text-align: right;

    color: #000000;
}
.text_box_right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 750px;
    height: 100%;
}
.orange_text_right{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    text-align: right;

    color: #F8BF69;
}
.dec_orange{
    display:block;
    width: 529px;
    height: 8px;
    background: #F8BF69;
}
.arranger_left{
    display:flex;
    flex-direction: row;
    justify-content: left;
    width:100%;
    height: 25px;
}
.dec_gray{
    display:block;
    width: 168px;
    height: 22px;
    background: #787878;
}





.sub_box_left{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 350px;
}
.text_black_left{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    text-align: left;

    color: #000000;
}
.text_box_left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 750px;
    height: 100%;
}
.orange_text_left{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    text-align: elft;

    color: #F8BF69;
}
.arranger_right{
    display:flex;
    flex-direction: row;
    justify-content: right;
    width:100%;
    height: 25px;
}